@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.bg-red-shop{
  background-color: #d91023;
}
.text-red-shop{
  color: #d91023;
}
.scroll-content {
  animation: scroll 10s alternate infinite;
}

.scroll-container:hover .scroll-content {
  animation-play-state: paused;
}

@media (min-width: 640px) {
  .scroll-container{
    scrollbar-width: none;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  /* 100% {
    transform: translateX(-25%);
  } */
}
